@import "tailwindcss";
@import "tw-animate-css";
@import "@rainbow-me/rainbowkit/styles.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-seasalt-DEFAULT: #f8f9fa;
  --color-seasalt-100: #29323a;
  --color-seasalt-200: #536475;
  --color-seasalt-300: #8496a8;
  --color-seasalt-400: #bfc8d1;
  --color-seasalt-500: #f8f9fa;
  --color-seasalt-600: #fafbfc;
  --color-seasalt-700: #fbfcfc;
  --color-seasalt-800: #fdfdfd;
  --color-seasalt-900: #fefefe;

  --color-anti-flash-white-DEFAULT: #e9ecef;
  --color-anti-flash-white-100: #282f37;
  --color-anti-flash-white-200: #505f6e;
  --color-anti-flash-white-300: #7c8ea0;
  --color-anti-flash-white-400: #b3bec8;
  --color-anti-flash-white-500: #e9ecef;
  --color-anti-flash-white-600: #eef1f3;
  --color-anti-flash-white-700: #f3f4f6;
  --color-anti-flash-white-800: #f7f8f9;
  --color-anti-flash-white-900: #fbfbfc;

  --color-platinum-DEFAULT: #dee2e6;
  --color-platinum-100: #272d34;
  --color-platinum-200: #4e5b67;
  --color-platinum-300: #788899;
  --color-platinum-400: #abb6c0;
  --color-platinum-500: #dee2e6;
  --color-platinum-600: #e5e9ec;
  --color-platinum-700: #eceef1;
  --color-platinum-800: #f2f4f5;
  --color-platinum-900: #f9f9fa;

  --color-french-gray-DEFAULT: #ced4da;
  --color-french-gray-100: #242a30;
  --color-french-gray-200: #495561;
  --color-french-gray-300: #6d7f91;
  --color-french-gray-400: #9da9b5;
  --color-french-gray-500: #ced4da;
  --color-french-gray-600: #d7dce1;
  --color-french-gray-700: #e1e5e9;
  --color-french-gray-800: #ebeef0;
  --color-french-gray-900: #f5f6f8;

  --color-french-gray-alt-DEFAULT: #adb5bd;
  --color-french-gray-alt-100: #202428;
  --color-french-gray-alt-200: #404850;
  --color-french-gray-alt-300: #616d79;
  --color-french-gray-alt-400: #85919d;
  --color-french-gray-alt-500: #adb5bd;
  --color-french-gray-alt-600: #bdc4ca;
  --color-french-gray-alt-700: #ced3d8;
  --color-french-gray-alt-800: #dee1e5;
  --color-french-gray-alt-900: #eff0f2;

  --color-slate-gray-DEFAULT: #6c757d;
  --color-slate-gray-100: #161819;
  --color-slate-gray-200: #2c2f32;
  --color-slate-gray-300: #41474b;
  --color-slate-gray-400: #575e64;
  --color-slate-gray-500: #6c757d;
  --color-slate-gray-600: #899199;
  --color-slate-gray-700: #a7adb2;
  --color-slate-gray-800: #c4c8cc;
  --color-slate-gray-900: #e2e4e5;

  --color-outer-space-DEFAULT: #495057;
  --color-outer-space-100: #0e1011;
  --color-outer-space-200: #1d2022;
  --color-outer-space-300: #2b2f34;
  --color-outer-space-400: #3a3f45;
  --color-outer-space-500: #495057;
  --color-outer-space-600: #68727d;
  --color-outer-space-700: #8c959f;
  --color-outer-space-800: #b2b9bf;
  --color-outer-space-900: #d9dcdf;

  --color-onyx-DEFAULT: #343a40;
  --color-onyx-100: #0b0c0d;
  --color-onyx-200: #15171a;
  --color-onyx-300: #202327;
  --color-onyx-400: #2a2f34;
  --color-onyx-500: #343a40;
  --color-onyx-600: #58626c;
  --color-onyx-700: #7d8995;
  --color-onyx-800: #a9b0b8;
  --color-onyx-900: #d4d8dc;

  --color-eerie-black-DEFAULT: #212529;
  --color-eerie-black-100: #070808;
  --color-eerie-black-200: #0e0f11;
  --color-eerie-black-300: #141719;
  --color-eerie-black-400: #1b1f22;
  --color-eerie-black-500: #212529;
  --color-eerie-black-600: #49525b;
  --color-eerie-black-700: #6f7d8b;
  --color-eerie-black-800: #9fa8b2;
  --color-eerie-black-900: #cfd4d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
